.inner-container {
  display: flex;
  flex-wrap: wrap;
}

.left, .right {
  text-align: left;
  padding: 0;
}

.padded {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
}

#projects {
  padding: 50px 0 80px;
  /* background: #b5b8bc; TODO: Do I want different sectional colors? */
  border-style: solid;
  border-color: black white black white;
}

.bars {
  padding: 20px;
}

.bar {
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 18px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.copyright {
  text-align: center;
}

.copyright-container {
  margin: auto;
}

p {
  font-size: 18px;
}

.about img {
  border-radius: 50%;
  height: 25em;
  width: auto;
  padding: 25px;
}
