<!-- Projects Section -->
<section id="projects" class="content-section text-center">
    <div class="container">
      <h2>Projects</h2>
      <br/>

      <!-- Projects Column -->
      <div class="left col-md-8">
          <h3>Higa Auto Insurance</h3>
          <div class="padded">
              <p>Designed & developed a web-app for Higa Insurance's taxi auto-insurance management, working with Angular 2 on the front-end and Rails server-side.</p>
          </div>
          <br />

          <h3>DRB - Student Loans</h3>
          <div class="padded">
              <p>Worked with an international team as a developer on a student loan refinancing Rails and React application for DRB.</p>
          </div>
          <br />

          <h3>UHF - Donations</h3>
          <div class="padded">
              <p>Collaborated closely with the UH Foundation on their online donations application to bring their platform up-to-date and optimize the giving process.</p>
          </div>
          <br />

          <h3>Remote Desktop Mobile App</h3>
          <div class="padded">
              <p>Developed an Android application with a team of interns using agile development practices.</p>
          </div>
      </div>

      <div class="right col-md-4">
          <h3>Skills</h3>

          <div class="bars">
              <div class="bar concealed visible animated fadeInRight">Ruby on Rails</div>
              <div class="bar concealed visible animated fadeInRight">Angular2/4</div>
              <div class="bar concealed visible animated fadeInRight">React</div>
              <div class="bar concealed visible animated fadeInRight">Java</div>
              <div class="bar concealed visible animated fadeInRight">C</div>
              <div class="bar concealed visible animated fadeInRight">Groovy on Rails</div>
              <div class="bar concealed visible animated fadeInRight">HTML/CSS</div>
              <div class="bar concealed visible animated fadeInRight">Bootstrap</div>
              <div class="bar concealed visible animated fadeInRight">Foundation</div>
          </div>
      </div>

      <br/>
    </div>

</section>
