<!-- Projects Section -->
<section id="resume" class="container content-section text-center">
    <div class="row">
        <div class="">
          <h2>Resume</h2>
          <br/>

          <!-- iFrame + download PDF -->
          <p>Download a PDF
              <a href="https://drive.google.com/uc?export=download&amp;id=0B9X7rJJ_usgQYXVIOEczZ0d6OU0">here.</a>
          </p>
          <br/>
          <iframe src="https://docs.google.com/viewer?srcid=0B9X7rJJ_usgQYXVIOEczZ0d6OU0&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="580px" height="780px"></iframe>

          <br/><br/>
        </div>
    </div>
</section>
